<?php
/**
 * OffersApi
 * PHP version 5
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Ageras.com API
 *
 * this is the Ageras API
 *
 * OpenAPI spec version: 2.0
 * Contact: cto@ageras.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Ageras\Api\Api;

use \Ageras\Api\ApiClient;
use \Ageras\Api\ApiException;
use \Ageras\Api\Configuration;
use \Ageras\Api\ObjectSerializer;

/**
 * OffersApi Class Doc Comment
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class OffersApi
{
    /**
     * API Client
     *
     * @var \Ageras\Api\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Ageras\Api\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Ageras\Api\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Ageras\Api\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Ageras\Api\ApiClient $apiClient set the API client
     *
     * @return OffersApi
     */
    public function setApiClient(\Ageras\Api\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation offersActionsCreate
     *
     * Perform an action on an offer.
     *
     * @param string $offer_id 
     * @param \Ageras\Api\Model\OfferActionResource $offer_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\Model\PartnerOfferResource
     */
    public function offersActionsCreate($offer_id , $offer_action_resource)
    {
        list($response) = $this->offersActionsCreateWithHttpInfo($offer_id, $offer_action_resource);
        return $response;
    }

    /**
     * Operation offersActionsCreateWithHttpInfo
     *
     * Perform an action on an offer.
     *
     * @param string $offer_id 
     * @param \Ageras\Api\Model\OfferActionResource $offer_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\Model\PartnerOfferResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function offersActionsCreateWithHttpInfo($offer_id , $offer_action_resource)
    {
        // parse inputs
        $resourcePath = "/offers/{offer_id}/actions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($offer_id !== null) {
            $resourcePath = str_replace(
                "{" . "offer_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($offer_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($offer_action_resource)) {
            $_tempBody = $offer_action_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\Model\PartnerOfferResource',
                '/offers/{offer_id}/actions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\Model\PartnerOfferResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\Model\PartnerOfferResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation offersGet
     *
     * Get an offer by id.
     *
     * @param string $offer_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\Model\PartnerOfferResource
     */
    public function offersGet($offer_id )
    {
        list($response) = $this->offersGetWithHttpInfo($offer_id);
        return $response;
    }

    /**
     * Operation offersGetWithHttpInfo
     *
     * Get an offer by id.
     *
     * @param string $offer_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\Model\PartnerOfferResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function offersGetWithHttpInfo($offer_id )
    {
        // parse inputs
        $resourcePath = "/offers/{offer_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($offer_id !== null) {
            $resourcePath = str_replace(
                "{" . "offer_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($offer_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\Model\PartnerOfferResource',
                '/offers/{offer_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\Model\PartnerOfferResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\Model\PartnerOfferResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation offersIndex
     *
     * Get all partner offer.
     *
     * @param $criteria = [
     *    'show_expired' => bool,
     *    'show_accepted' => bool,
     *    'partner_id' => int,
     *    'sort' => string,
     *    'action' => string,
     *    'geo_code' => string,
     *    'type' => string,
     *    'sale_type' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\Model\PartnerOfferResult
     */
    public function offersIndex($criteria = [])
    {
        list($response) = $this->offersIndexWithHttpInfo($criteria);
        return $response;
    }

    /**
     * Operation offersIndexWithHttpInfo
     *
     * Get all partner offer.
     *
     * @param $criteria = [
     *    'show_expired' => bool,
     *    'show_accepted' => bool,
     *    'partner_id' => int,
     *    'sort' => string,
     *    'action' => string,
     *    'geo_code' => string,
     *    'type' => string,
     *    'sale_type' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\Model\PartnerOfferResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function offersIndexWithHttpInfo($criteria = [])
    {
        // parse inputs
        $resourcePath = "/offers";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['show_expired'])) {
            $queryParams['show_expired'] = $this->apiClient->getSerializer()->toQueryValue($criteria['show_expired']);
        }
        // query params
        if (isset($criteria['show_accepted'])) {
            $queryParams['show_accepted'] = $this->apiClient->getSerializer()->toQueryValue($criteria['show_accepted']);
        }
        // query params
        if (isset($criteria['partner_id'])) {
            $queryParams['partner_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_id']);
        }
        // query params
        if (isset($criteria['sort'])) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sort']);
        }
        // query params
        if (isset($criteria['action'])) {
            $queryParams['action'] = $this->apiClient->getSerializer()->toQueryValue($criteria['action']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['type'])) {
            $queryParams['type'] = $this->apiClient->getSerializer()->toQueryValue($criteria['type']);
        }
        // query params
        if (isset($criteria['sale_type'])) {
            $queryParams['sale_type'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sale_type']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\Model\PartnerOfferResult',
                '/offers'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\Model\PartnerOfferResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\Model\PartnerOfferResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
