<?php
/**
 * OffersApi
 * PHP version 5
 *
 * @category Class
 * @package  Ageras\Api
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Ageras.com API
 *
 * this is the Ageras API
 *
 * OpenAPI spec version: 2.0
 * Contact: cto@ageras.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Ageras\Api;

use \Ageras\Api\Configuration;
use \Ageras\Api\ApiClient;
use \Ageras\Api\ApiException;
use \Ageras\Api\ObjectSerializer;

/**
 * OffersApi Class Doc Comment
 *
 * @category Class
 * @package  Ageras\Api
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class OffersApi
{

    /**
     * API Client
     *
     * @var \Ageras\Api\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Ageras\Api\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Ageras\Api\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.ageras.com/v2');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Ageras\Api\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Ageras\Api\ApiClient $apiClient set the API client
     *
     * @return OffersApi
     */
    public function setApiClient(\Ageras\Api\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation offersActionsCreate
     *
     * Perform an action on an offer.
     *
     * @param string $offer_id  (required)
     * @param \Ageras\Api\OfferActionResource $offer_action_resource  (required)
     * @return \Ageras\Api\PartnerOfferResource
     * @throws \Ageras\Api\ApiException on non-2xx response
     */
    public function offersActionsCreate($offer_id, $offer_action_resource)
    {
        list($response) = $this->offersActionsCreateWithHttpInfo($offer_id, $offer_action_resource);
        return $response;
    }

    /**
     * Operation offersActionsCreateWithHttpInfo
     *
     * Perform an action on an offer.
     *
     * @param string $offer_id  (required)
     * @param \Ageras\Api\OfferActionResource $offer_action_resource  (required)
     * @return Array of \Ageras\Api\PartnerOfferResource, HTTP status code, HTTP response headers (array of strings)
     * @throws \Ageras\Api\ApiException on non-2xx response
     */
    public function offersActionsCreateWithHttpInfo($offer_id, $offer_action_resource)
    {
        // verify the required parameter 'offer_id' is set
        if ($offer_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offer_id when calling offersActionsCreate');
        }
        // verify the required parameter 'offer_action_resource' is set
        if ($offer_action_resource === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offer_action_resource when calling offersActionsCreate');
        }
        // parse inputs
        $resourcePath = "/offers/{offer_id}/actions";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($offer_id !== null) {
            $resourcePath = str_replace(
                "{" . "offer_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($offer_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($offer_action_resource)) {
            $_tempBody = $offer_action_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerOfferResource',
                '/offers/{offer_id}/actions'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerOfferResource', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerOfferResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation offersGet
     *
     * Get an offer by id.
     *
     * @param string $offer_id  (required)
     * @return \Ageras\Api\PartnerOfferResource
     * @throws \Ageras\Api\ApiException on non-2xx response
     */
    public function offersGet($offer_id)
    {
        list($response) = $this->offersGetWithHttpInfo($offer_id);
        return $response;
    }

    /**
     * Operation offersGetWithHttpInfo
     *
     * Get an offer by id.
     *
     * @param string $offer_id  (required)
     * @return Array of \Ageras\Api\PartnerOfferResource, HTTP status code, HTTP response headers (array of strings)
     * @throws \Ageras\Api\ApiException on non-2xx response
     */
    public function offersGetWithHttpInfo($offer_id)
    {
        // verify the required parameter 'offer_id' is set
        if ($offer_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $offer_id when calling offersGet');
        }
        // parse inputs
        $resourcePath = "/offers/{offer_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($offer_id !== null) {
            $resourcePath = str_replace(
                "{" . "offer_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($offer_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerOfferResource',
                '/offers/{offer_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerOfferResource', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerOfferResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation offersIndex
     *
     * Get all partner offer.
     *
     * @param bool $show_expired Include expired partners in the result. (optional, default to false)
     * @param bool $show_accepted Show accepted partner. (optional, default to false)
     * @param int $partner_id Partner id of Offers to filter by. (optional)
     * @param string $sort Order by price asc or desc. (optional, default to created_at)
     * @param string $action Action to take. (optional)
     * @param string $geo_code Offer geo code. (optional)
     * @param string $type Type of Offer (optional, default to partner)
     * @param string $sale_type Sale type (optional, default to unknown)
     * @param int $limit The number of resources to be returned. (optional)
     * @param int $page The page position in the result. (optional)
     * @param string $query The search wildcard. (optional)
     * @return \Ageras\Api\PartnerOfferResult
     * @throws \Ageras\Api\ApiException on non-2xx response
     */
    public function offersIndex($show_expired = null, $show_accepted = null, $partner_id = null, $sort = null, $action = null, $geo_code = null, $type = null, $sale_type = null, $limit = null, $page = null, $query = null)
    {
        list($response) = $this->offersIndexWithHttpInfo($show_expired, $show_accepted, $partner_id, $sort, $action, $geo_code, $type, $sale_type, $limit, $page, $query);
        return $response;
    }

    /**
     * Operation offersIndexWithHttpInfo
     *
     * Get all partner offer.
     *
     * @param bool $show_expired Include expired partners in the result. (optional, default to false)
     * @param bool $show_accepted Show accepted partner. (optional, default to false)
     * @param int $partner_id Partner id of Offers to filter by. (optional)
     * @param string $sort Order by price asc or desc. (optional, default to created_at)
     * @param string $action Action to take. (optional)
     * @param string $geo_code Offer geo code. (optional)
     * @param string $type Type of Offer (optional, default to partner)
     * @param string $sale_type Sale type (optional, default to unknown)
     * @param int $limit The number of resources to be returned. (optional)
     * @param int $page The page position in the result. (optional)
     * @param string $query The search wildcard. (optional)
     * @return Array of \Ageras\Api\PartnerOfferResult, HTTP status code, HTTP response headers (array of strings)
     * @throws \Ageras\Api\ApiException on non-2xx response
     */
    public function offersIndexWithHttpInfo($show_expired = null, $show_accepted = null, $partner_id = null, $sort = null, $action = null, $geo_code = null, $type = null, $sale_type = null, $limit = null, $page = null, $query = null)
    {
        // parse inputs
        $resourcePath = "/offers";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($show_expired !== null) {
            $queryParams['show_expired'] = $this->apiClient->getSerializer()->toQueryValue($show_expired);
        }
        // query params
        if ($show_accepted !== null) {
            $queryParams['show_accepted'] = $this->apiClient->getSerializer()->toQueryValue($show_accepted);
        }
        // query params
        if ($partner_id !== null) {
            $queryParams['partner_id'] = $this->apiClient->getSerializer()->toQueryValue($partner_id);
        }
        // query params
        if ($sort !== null) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($sort);
        }
        // query params
        if ($action !== null) {
            $queryParams['action'] = $this->apiClient->getSerializer()->toQueryValue($action);
        }
        // query params
        if ($geo_code !== null) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($geo_code);
        }
        // query params
        if ($type !== null) {
            $queryParams['type'] = $this->apiClient->getSerializer()->toQueryValue($type);
        }
        // query params
        if ($sale_type !== null) {
            $queryParams['sale_type'] = $this->apiClient->getSerializer()->toQueryValue($sale_type);
        }
        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($query !== null) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($query);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerOfferResult',
                '/offers'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerOfferResult', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerOfferResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
