<?php
/**
 * PartnersApi
 * PHP version 5
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Ageras.com API
 *
 * this is the Ageras API
 *
 * OpenAPI spec version: 2.0
 * Contact: cto@ageras.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Ageras\Api;

use \Ageras\Api\ApiClient;
use \Ageras\Api\ApiException;
use \Ageras\Api\Configuration;
use \Ageras\Api\ObjectSerializer;

/**
 * PartnersApi Class Doc Comment
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PartnersApi
{
    /**
     * API Client
     *
     * @var \Ageras\Api\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Ageras\Api\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Ageras\Api\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Ageras\Api\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Ageras\Api\ApiClient $apiClient set the API client
     *
     * @return PartnersApi
     */
    public function setApiClient(\Ageras\Api\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation partnersActionsCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerActionResource $partner_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerResource
     */
    public function partnersActionsCreate($partner_id , $partner_action_resource)
    {
        list($response) = $this->partnersActionsCreateWithHttpInfo($partner_id, $partner_action_resource);
        return $response;
    }

    /**
     * Operation partnersActionsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerActionResource $partner_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersActionsCreateWithHttpInfo($partner_id , $partner_action_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/actions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_action_resource)) {
            $_tempBody = $partner_action_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerResource',
                '/partners/{partner_id}/actions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAggregationsIndex
     *
     * 
     *
     * @param $criteria = [
     *    'partner_id' => string,
     *    'state' => string,
     *    'is_enabled' => bool,
     *    'employee_id' => string,
     *    'geo_code' => string,
     *    'satisfaction' => string,
     *    'punches_use_speed' => string,
     *    'refill_offer_id' => string,
     *    'industry_id' => string,
     *    'industry' => string,
     *    'geo_point' => string,
     *    'geo_rect' => string,
     *    'geo_distance' => int,
     *    'sort' => string,
     *    'canvas_status' => string,
     *    'is_public' => bool,
     *    'package_type' => string,
     *    'badge_id' => string,
     *    'digital_leads' => bool,
     *    'has_marketing_package' => bool,
     *    'has_active_contract' => bool,
     *    'has_unused_allocations' => bool,
     *    'wants_exclusive_leads' => bool,
     *    'partner_assignee_client_consultant_employee_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\AggregationResult
     */
    public function partnersAggregationsIndex($criteria = [])
    {
        list($response) = $this->partnersAggregationsIndexWithHttpInfo($criteria);
        return $response;
    }

    /**
     * Operation partnersAggregationsIndexWithHttpInfo
     *
     * 
     *
     * @param $criteria = [
     *    'partner_id' => string,
     *    'state' => string,
     *    'is_enabled' => bool,
     *    'employee_id' => string,
     *    'geo_code' => string,
     *    'satisfaction' => string,
     *    'punches_use_speed' => string,
     *    'refill_offer_id' => string,
     *    'industry_id' => string,
     *    'industry' => string,
     *    'geo_point' => string,
     *    'geo_rect' => string,
     *    'geo_distance' => int,
     *    'sort' => string,
     *    'canvas_status' => string,
     *    'is_public' => bool,
     *    'package_type' => string,
     *    'badge_id' => string,
     *    'digital_leads' => bool,
     *    'has_marketing_package' => bool,
     *    'has_active_contract' => bool,
     *    'has_unused_allocations' => bool,
     *    'wants_exclusive_leads' => bool,
     *    'partner_assignee_client_consultant_employee_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\AggregationResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAggregationsIndexWithHttpInfo($criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/aggregations";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['partner_id'])) {
            $queryParams['partner_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_id']);
        }
        // query params
        if (isset($criteria['state'])) {
            $queryParams['state'] = $this->apiClient->getSerializer()->toQueryValue($criteria['state']);
        }
        // query params
        if (isset($criteria['is_enabled'])) {
            $queryParams['is_enabled'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_enabled']);
        }
        // query params
        if (isset($criteria['employee_id'])) {
            $queryParams['employee_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['employee_id']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['satisfaction'])) {
            $queryParams['satisfaction'] = $this->apiClient->getSerializer()->toQueryValue($criteria['satisfaction']);
        }
        // query params
        if (isset($criteria['punches_use_speed'])) {
            $queryParams['punches_use_speed'] = $this->apiClient->getSerializer()->toQueryValue($criteria['punches_use_speed']);
        }
        // query params
        if (isset($criteria['refill_offer_id'])) {
            $queryParams['refill_offer_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['refill_offer_id']);
        }
        // query params
        if (isset($criteria['industry_id'])) {
            $queryParams['industry_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['industry_id']);
        }
        // query params
        if (isset($criteria['industry'])) {
            $queryParams['industry'] = $this->apiClient->getSerializer()->toQueryValue($criteria['industry']);
        }
        // query params
        if (isset($criteria['geo_point'])) {
            $queryParams['geo_point'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_point']);
        }
        // query params
        if (isset($criteria['geo_rect'])) {
            $queryParams['geo_rect'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_rect']);
        }
        // query params
        if (isset($criteria['geo_distance'])) {
            $queryParams['geo_distance'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_distance']);
        }
        // query params
        if (isset($criteria['sort'])) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sort']);
        }
        // query params
        if (isset($criteria['canvas_status'])) {
            $queryParams['canvas_status'] = $this->apiClient->getSerializer()->toQueryValue($criteria['canvas_status']);
        }
        // query params
        if (isset($criteria['is_public'])) {
            $queryParams['is_public'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_public']);
        }
        // query params
        if (isset($criteria['package_type'])) {
            $queryParams['package_type'] = $this->apiClient->getSerializer()->toQueryValue($criteria['package_type']);
        }
        // query params
        if (isset($criteria['badge_id'])) {
            $queryParams['badge_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['badge_id']);
        }
        // query params
        if (isset($criteria['digital_leads'])) {
            $queryParams['digital_leads'] = $this->apiClient->getSerializer()->toQueryValue($criteria['digital_leads']);
        }
        // query params
        if (isset($criteria['has_marketing_package'])) {
            $queryParams['has_marketing_package'] = $this->apiClient->getSerializer()->toQueryValue($criteria['has_marketing_package']);
        }
        // query params
        if (isset($criteria['has_active_contract'])) {
            $queryParams['has_active_contract'] = $this->apiClient->getSerializer()->toQueryValue($criteria['has_active_contract']);
        }
        // query params
        if (isset($criteria['has_unused_allocations'])) {
            $queryParams['has_unused_allocations'] = $this->apiClient->getSerializer()->toQueryValue($criteria['has_unused_allocations']);
        }
        // query params
        if (isset($criteria['wants_exclusive_leads'])) {
            $queryParams['wants_exclusive_leads'] = $this->apiClient->getSerializer()->toQueryValue($criteria['wants_exclusive_leads']);
        }
        // query params
        if (isset($criteria['partner_assignee_client_consultant_employee_id'])) {
            $queryParams['partner_assignee_client_consultant_employee_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_assignee_client_consultant_employee_id']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\AggregationResult',
                '/partners/aggregations'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\AggregationResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\AggregationResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAllocationboostsCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerAllocationBoostResource $partner_allocation_boost_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerAllocationBoostResource
     */
    public function partnersAllocationboostsCreate($partner_id , $partner_allocation_boost_resource)
    {
        list($response) = $this->partnersAllocationboostsCreateWithHttpInfo($partner_id, $partner_allocation_boost_resource);
        return $response;
    }

    /**
     * Operation partnersAllocationboostsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerAllocationBoostResource $partner_allocation_boost_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerAllocationBoostResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAllocationboostsCreateWithHttpInfo($partner_id , $partner_allocation_boost_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/allocationboosts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_allocation_boost_resource)) {
            $_tempBody = $partner_allocation_boost_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerAllocationBoostResource',
                '/partners/{partner_id}/allocationboosts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerAllocationBoostResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerAllocationBoostResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAllocationdeliveriesIndex
     *
     * 
     *
     * @param $criteria = [
     *    'process_at_gte' => string,
     *    'process_at_lte' => string,
     *    'partner_id' => string,
     *    'sort' => string,
     *    'geo_code' => string,
     *    'employee_id' => string,
     *    'revenue_segment_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerAllocationDeliveryResult
     */
    public function partnersAllocationdeliveriesIndex($criteria = [])
    {
        list($response) = $this->partnersAllocationdeliveriesIndexWithHttpInfo($criteria);
        return $response;
    }

    /**
     * Operation partnersAllocationdeliveriesIndexWithHttpInfo
     *
     * 
     *
     * @param $criteria = [
     *    'process_at_gte' => string,
     *    'process_at_lte' => string,
     *    'partner_id' => string,
     *    'sort' => string,
     *    'geo_code' => string,
     *    'employee_id' => string,
     *    'revenue_segment_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerAllocationDeliveryResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAllocationdeliveriesIndexWithHttpInfo($criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/allocationdeliveries";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['process_at_gte'])) {
            $queryParams['process_at_gte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['process_at_gte']);
        }
        // query params
        if (isset($criteria['process_at_lte'])) {
            $queryParams['process_at_lte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['process_at_lte']);
        }
        // query params
        if (isset($criteria['partner_id'])) {
            $queryParams['partner_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_id']);
        }
        // query params
        if (isset($criteria['sort'])) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sort']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['employee_id'])) {
            $queryParams['employee_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['employee_id']);
        }
        // query params
        if (isset($criteria['revenue_segment_id'])) {
            $queryParams['revenue_segment_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['revenue_segment_id']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerAllocationDeliveryResult',
                '/partners/allocationdeliveries'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerAllocationDeliveryResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerAllocationDeliveryResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAllocationdeliveriesIndex_0
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'process_at_gte' => string,
     *    'process_at_lte' => string,
     *    'sort' => string,
     *    'geo_code' => string,
     *    'employee_id' => string,
     *    'revenue_segment_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerAllocationDeliveryResult
     */
    public function partnersAllocationdeliveriesIndex_0($partner_id , $criteria = [])
    {
        list($response) = $this->partnersAllocationdeliveriesIndex_0WithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersAllocationdeliveriesIndex_0WithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'process_at_gte' => string,
     *    'process_at_lte' => string,
     *    'sort' => string,
     *    'geo_code' => string,
     *    'employee_id' => string,
     *    'revenue_segment_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerAllocationDeliveryResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAllocationdeliveriesIndex_0WithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/allocationdeliveries";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['process_at_gte'])) {
            $queryParams['process_at_gte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['process_at_gte']);
        }
        // query params
        if (isset($criteria['process_at_lte'])) {
            $queryParams['process_at_lte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['process_at_lte']);
        }
        // query params
        if (isset($criteria['sort'])) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sort']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['employee_id'])) {
            $queryParams['employee_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['employee_id']);
        }
        // query params
        if (isset($criteria['revenue_segment_id'])) {
            $queryParams['revenue_segment_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['revenue_segment_id']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerAllocationDeliveryResult',
                '/partners/{partner_id}/allocationdeliveries'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerAllocationDeliveryResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerAllocationDeliveryResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAllocationpausesCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerAllocationPauseResource $partner_allocation_pause_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerAllocationPauseResource
     */
    public function partnersAllocationpausesCreate($partner_id , $partner_allocation_pause_resource)
    {
        list($response) = $this->partnersAllocationpausesCreateWithHttpInfo($partner_id, $partner_allocation_pause_resource);
        return $response;
    }

    /**
     * Operation partnersAllocationpausesCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerAllocationPauseResource $partner_allocation_pause_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerAllocationPauseResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAllocationpausesCreateWithHttpInfo($partner_id , $partner_allocation_pause_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/allocationpauses";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_allocation_pause_resource)) {
            $_tempBody = $partner_allocation_pause_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerAllocationPauseResource',
                '/partners/{partner_id}/allocationpauses'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerAllocationPauseResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerAllocationPauseResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAssigneesCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerAssigneeResource $partner_assignee_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerAssigneeResource
     */
    public function partnersAssigneesCreate($partner_id , $partner_assignee_resource)
    {
        list($response) = $this->partnersAssigneesCreateWithHttpInfo($partner_id, $partner_assignee_resource);
        return $response;
    }

    /**
     * Operation partnersAssigneesCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerAssigneeResource $partner_assignee_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerAssigneeResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAssigneesCreateWithHttpInfo($partner_id , $partner_assignee_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/assignees";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_assignee_resource)) {
            $_tempBody = $partner_assignee_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerAssigneeResource',
                '/partners/{partner_id}/assignees'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerAssigneeResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerAssigneeResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAssigneesDelete
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_assignee_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return void
     */
    public function partnersAssigneesDelete($partner_id,  $partner_assignee_id )
    {
        list($response) = $this->partnersAssigneesDeleteWithHttpInfo($partner_id, $partner_assignee_id);
        return $response;
    }

    /**
     * Operation partnersAssigneesDeleteWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_assignee_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAssigneesDeleteWithHttpInfo($partner_id,  $partner_assignee_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/assignees/{partner_assignee_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_assignee_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_assignee_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_assignee_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/partners/{partner_id}/assignees/{partner_assignee_id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAssigneesIndex
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'roles' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerAssigneeResult
     */
    public function partnersAssigneesIndex($partner_id , $criteria = [])
    {
        list($response) = $this->partnersAssigneesIndexWithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersAssigneesIndexWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'roles' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerAssigneeResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAssigneesIndexWithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/assignees";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['roles'])) {
            $queryParams['roles'] = $this->apiClient->getSerializer()->toQueryValue($criteria['roles']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerAssigneeResult',
                '/partners/{partner_id}/assignees'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerAssigneeResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerAssigneeResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBankaccountsCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBankaccountResource $partner_bankaccount_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBankaccountResource
     */
    public function partnersBankaccountsCreate($partner_id , $partner_bankaccount_resource)
    {
        list($response) = $this->partnersBankaccountsCreateWithHttpInfo($partner_id, $partner_bankaccount_resource);
        return $response;
    }

    /**
     * Operation partnersBankaccountsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBankaccountResource $partner_bankaccount_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBankaccountResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBankaccountsCreateWithHttpInfo($partner_id , $partner_bankaccount_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/bankaccounts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_bankaccount_resource)) {
            $_tempBody = $partner_bankaccount_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBankaccountResource',
                '/partners/{partner_id}/bankaccounts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBankaccountResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBankaccountResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBankaccountsIndex
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBankaccountResult
     */
    public function partnersBankaccountsIndex($partner_id , $criteria = [])
    {
        list($response) = $this->partnersBankaccountsIndexWithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBankaccountsIndexWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBankaccountResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBankaccountsIndexWithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/bankaccounts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBankaccountResult',
                '/partners/{partner_id}/bankaccounts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBankaccountResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBankaccountResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBrowserpushsubscriptionsCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\BrowserPushSubscriptionResource $browser_push_subscription_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\BrowserPushSubscriptionResource
     */
    public function partnersBrowserpushsubscriptionsCreate($partner_id , $browser_push_subscription_resource)
    {
        list($response) = $this->partnersBrowserpushsubscriptionsCreateWithHttpInfo($partner_id, $browser_push_subscription_resource);
        return $response;
    }

    /**
     * Operation partnersBrowserpushsubscriptionsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\BrowserPushSubscriptionResource $browser_push_subscription_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\BrowserPushSubscriptionResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBrowserpushsubscriptionsCreateWithHttpInfo($partner_id , $browser_push_subscription_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/browserpushsubscriptions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($browser_push_subscription_resource)) {
            $_tempBody = $browser_push_subscription_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\BrowserPushSubscriptionResource',
                '/partners/{partner_id}/browserpushsubscriptions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\BrowserPushSubscriptionResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\BrowserPushSubscriptionResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitcontractsCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBusinessUnitContractResource $partner_business_unit_contract_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitContractResource
     */
    public function partnersBusinessunitcontractsCreate($partner_id , $partner_business_unit_contract_resource)
    {
        list($response) = $this->partnersBusinessunitcontractsCreateWithHttpInfo($partner_id, $partner_business_unit_contract_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitcontractsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBusinessUnitContractResource $partner_business_unit_contract_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitContractResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitcontractsCreateWithHttpInfo($partner_id , $partner_business_unit_contract_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunitcontracts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_business_unit_contract_resource)) {
            $_tempBody = $partner_business_unit_contract_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitContractResource',
                '/partners/{partner_id}/businessunitcontracts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitContractResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitContractResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitcontractsGet
     *
     * 
     *
     * @param string $partner_id 
     * @param string $contract_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitContractResource
     */
    public function partnersBusinessunitcontractsGet($partner_id,  $contract_id )
    {
        list($response) = $this->partnersBusinessunitcontractsGetWithHttpInfo($partner_id, $contract_id);
        return $response;
    }

    /**
     * Operation partnersBusinessunitcontractsGetWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $contract_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitContractResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitcontractsGetWithHttpInfo($partner_id,  $contract_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunitcontracts/{contract_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($contract_id !== null) {
            $resourcePath = str_replace(
                "{" . "contract_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($contract_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitContractResource',
                '/partners/{partner_id}/businessunitcontracts/{contract_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitContractResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitContractResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitcontractsIndex
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitContractResult
     */
    public function partnersBusinessunitcontractsIndex($partner_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitcontractsIndexWithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitcontractsIndexWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitContractResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitcontractsIndexWithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunitcontracts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitContractResult',
                '/partners/{partner_id}/businessunitcontracts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitContractResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitContractResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\LeadPartnerAllocationLimitResource $lead_partner_allocation_limit_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadPartnerAllocationLimitResource
     */
    public function partnersBusinessunitsAllocationlimitsCreate($partner_id,  $partner_business_unit_id , $lead_partner_allocation_limit_resource)
    {
        list($response) = $this->partnersBusinessunitsAllocationlimitsCreateWithHttpInfo($partner_id, $partner_business_unit_id, $lead_partner_allocation_limit_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\LeadPartnerAllocationLimitResource $lead_partner_allocation_limit_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadPartnerAllocationLimitResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationlimitsCreateWithHttpInfo($partner_id,  $partner_business_unit_id , $lead_partner_allocation_limit_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationlimits";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($lead_partner_allocation_limit_resource)) {
            $_tempBody = $lead_partner_allocation_limit_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\LeadPartnerAllocationLimitResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationlimits'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\LeadPartnerAllocationLimitResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\LeadPartnerAllocationLimitResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsDelete
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $limit_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return void
     */
    public function partnersBusinessunitsAllocationlimitsDelete($partner_id,  $partner_business_unit_id,  $limit_id )
    {
        list($response) = $this->partnersBusinessunitsAllocationlimitsDeleteWithHttpInfo($partner_id, $partner_business_unit_id, $limit_id);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsDeleteWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $limit_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationlimitsDeleteWithHttpInfo($partner_id,  $partner_business_unit_id,  $limit_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationlimits/{limit_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // path params
        if ($limit_id !== null) {
            $resourcePath = str_replace(
                "{" . "limit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($limit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationlimits/{limit_id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsIndex
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'effective_at_gte' => string,
     *    'effective_at_lte' => string,
     *    'partner_business_unit_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadPartnerAllocationLimitResult
     */
    public function partnersBusinessunitsAllocationlimitsIndex($partner_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsAllocationlimitsIndexWithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsIndexWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'effective_at_gte' => string,
     *    'effective_at_lte' => string,
     *    'partner_business_unit_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadPartnerAllocationLimitResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationlimitsIndexWithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/allocationlimits";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['effective_at_gte'])) {
            $queryParams['effective_at_gte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['effective_at_gte']);
        }
        // query params
        if (isset($criteria['effective_at_lte'])) {
            $queryParams['effective_at_lte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['effective_at_lte']);
        }
        // query params
        if (isset($criteria['partner_business_unit_id'])) {
            $queryParams['partner_business_unit_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_business_unit_id']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\LeadPartnerAllocationLimitResult',
                '/partners/{partner_id}/businessunits/allocationlimits'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\LeadPartnerAllocationLimitResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\LeadPartnerAllocationLimitResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsUpdate
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $limit_id 
     * @param \Ageras\Api\LeadPartnerAllocationLimitResource $lead_partner_allocation_limit_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadPartnerAllocationLimitResource
     */
    public function partnersBusinessunitsAllocationlimitsUpdate($partner_id,  $partner_business_unit_id,  $limit_id , $lead_partner_allocation_limit_resource)
    {
        list($response) = $this->partnersBusinessunitsAllocationlimitsUpdateWithHttpInfo($partner_id, $partner_business_unit_id, $limit_id, $lead_partner_allocation_limit_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationlimitsUpdateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $limit_id 
     * @param \Ageras\Api\LeadPartnerAllocationLimitResource $lead_partner_allocation_limit_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadPartnerAllocationLimitResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationlimitsUpdateWithHttpInfo($partner_id,  $partner_business_unit_id,  $limit_id , $lead_partner_allocation_limit_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationlimits/{limit_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // path params
        if ($limit_id !== null) {
            $resourcePath = str_replace(
                "{" . "limit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($limit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($lead_partner_allocation_limit_resource)) {
            $_tempBody = $lead_partner_allocation_limit_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\LeadPartnerAllocationLimitResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationlimits/{limit_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\LeadPartnerAllocationLimitResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\LeadPartnerAllocationLimitResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasCreate
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\LeadAllocationQuotaResource $lead_allocation_quota_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadAllocationQuotaResource
     */
    public function partnersBusinessunitsAllocationquotasCreate($partner_id,  $partner_business_unit_id , $lead_allocation_quota_resource)
    {
        list($response) = $this->partnersBusinessunitsAllocationquotasCreateWithHttpInfo($partner_id, $partner_business_unit_id, $lead_allocation_quota_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\LeadAllocationQuotaResource $lead_allocation_quota_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadAllocationQuotaResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationquotasCreateWithHttpInfo($partner_id,  $partner_business_unit_id , $lead_allocation_quota_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($lead_allocation_quota_resource)) {
            $_tempBody = $lead_allocation_quota_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\LeadAllocationQuotaResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\LeadAllocationQuotaResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\LeadAllocationQuotaResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasDelete
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $quota_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return void
     */
    public function partnersBusinessunitsAllocationquotasDelete($partner_id,  $partner_business_unit_id,  $quota_id )
    {
        list($response) = $this->partnersBusinessunitsAllocationquotasDeleteWithHttpInfo($partner_id, $partner_business_unit_id, $quota_id);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasDeleteWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $quota_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationquotasDeleteWithHttpInfo($partner_id,  $partner_business_unit_id,  $quota_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas/{quota_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // path params
        if ($quota_id !== null) {
            $resourcePath = str_replace(
                "{" . "quota_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($quota_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas/{quota_id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasIndex
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'effective_at_gte' => string,
     *    'effective_at_lte' => string,
     *    'partner_business_unit_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadAllocationQuotaResult
     */
    public function partnersBusinessunitsAllocationquotasIndex($partner_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsAllocationquotasIndexWithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasIndexWithHttpInfo
     *
     * 
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'effective_at_gte' => string,
     *    'effective_at_lte' => string,
     *    'partner_business_unit_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadAllocationQuotaResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationquotasIndexWithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/allocationquotas";
        $httpBody = '';
[...]
