<?php
/**
 * PartnersApi
 * PHP version 5
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Ageras.com API
 *
 * this is the Ageras API
 *
 * OpenAPI spec version: 2.0
 * Contact: cto@ageras.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Ageras\Api;

use \Ageras\Api\ApiClient;
use \Ageras\Api\ApiException;
use \Ageras\Api\Configuration;
use \Ageras\Api\ObjectSerializer;

/**
 * PartnersApi Class Doc Comment
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PartnersApi
{
    /**
     * API Client
     *
     * @var \Ageras\Api\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Ageras\Api\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Ageras\Api\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Ageras\Api\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Ageras\Api\ApiClient $apiClient set the API client
     *
     * @return PartnersApi
     */
    public function setApiClient(\Ageras\Api\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation partnersActionsCreate
     *
     * Partner actions.
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerActionResource $partner_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerResource
     */
    public function partnersActionsCreate($partner_id , $partner_action_resource)
    {
        list($response) = $this->partnersActionsCreateWithHttpInfo($partner_id, $partner_action_resource);
        return $response;
    }

    /**
     * Operation partnersActionsCreateWithHttpInfo
     *
     * Partner actions.
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerActionResource $partner_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersActionsCreateWithHttpInfo($partner_id , $partner_action_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/actions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_action_resource)) {
            $_tempBody = $partner_action_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerResource',
                '/partners/{partner_id}/actions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersAggregationsIndex
     *
     * List facets and aggregations for the Partner Search.
     *
     * @param $criteria = [
     *    'partner_id' => string,
     *    'state' => string,
     *    'is_enabled' => bool,
     *    'employee_id' => string,
     *    'geo_code' => string,
     *    'satisfaction' => string,
     *    'punches_use_speed' => string,
     *    'refill_offer_id' => string,
     *    'industry_id' => string,
     *    'industry' => string,
     *    'geo_point' => string,
     *    'geo_rect' => string,
     *    'geo_distance' => int,
     *    'sort' => string,
     *    'canvas_status' => string,
     *    'is_public' => bool,
     *    'package_type' => string,
     *    'segmented_for_lead_id' => int,
     *    'badge_id' => string,
     *    'digital_leads' => bool,
     *    'has_marketing_package' => bool,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\AggregationResult
     */
    public function partnersAggregationsIndex($criteria = [])
    {
        list($response) = $this->partnersAggregationsIndexWithHttpInfo($criteria);
        return $response;
    }

    /**
     * Operation partnersAggregationsIndexWithHttpInfo
     *
     * List facets and aggregations for the Partner Search.
     *
     * @param $criteria = [
     *    'partner_id' => string,
     *    'state' => string,
     *    'is_enabled' => bool,
     *    'employee_id' => string,
     *    'geo_code' => string,
     *    'satisfaction' => string,
     *    'punches_use_speed' => string,
     *    'refill_offer_id' => string,
     *    'industry_id' => string,
     *    'industry' => string,
     *    'geo_point' => string,
     *    'geo_rect' => string,
     *    'geo_distance' => int,
     *    'sort' => string,
     *    'canvas_status' => string,
     *    'is_public' => bool,
     *    'package_type' => string,
     *    'segmented_for_lead_id' => int,
     *    'badge_id' => string,
     *    'digital_leads' => bool,
     *    'has_marketing_package' => bool,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\AggregationResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersAggregationsIndexWithHttpInfo($criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/aggregations";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['partner_id'])) {
            $queryParams['partner_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_id']);
        }
        // query params
        if (isset($criteria['state'])) {
            $queryParams['state'] = $this->apiClient->getSerializer()->toQueryValue($criteria['state']);
        }
        // query params
        if (isset($criteria['is_enabled'])) {
            $queryParams['is_enabled'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_enabled']);
        }
        // query params
        if (isset($criteria['employee_id'])) {
            $queryParams['employee_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['employee_id']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['satisfaction'])) {
            $queryParams['satisfaction'] = $this->apiClient->getSerializer()->toQueryValue($criteria['satisfaction']);
        }
        // query params
        if (isset($criteria['punches_use_speed'])) {
            $queryParams['punches_use_speed'] = $this->apiClient->getSerializer()->toQueryValue($criteria['punches_use_speed']);
        }
        // query params
        if (isset($criteria['refill_offer_id'])) {
            $queryParams['refill_offer_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['refill_offer_id']);
        }
        // query params
        if (isset($criteria['industry_id'])) {
            $queryParams['industry_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['industry_id']);
        }
        // query params
        if (isset($criteria['industry'])) {
            $queryParams['industry'] = $this->apiClient->getSerializer()->toQueryValue($criteria['industry']);
        }
        // query params
        if (isset($criteria['geo_point'])) {
            $queryParams['geo_point'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_point']);
        }
        // query params
        if (isset($criteria['geo_rect'])) {
            $queryParams['geo_rect'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_rect']);
        }
        // query params
        if (isset($criteria['geo_distance'])) {
            $queryParams['geo_distance'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_distance']);
        }
        // query params
        if (isset($criteria['sort'])) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sort']);
        }
        // query params
        if (isset($criteria['canvas_status'])) {
            $queryParams['canvas_status'] = $this->apiClient->getSerializer()->toQueryValue($criteria['canvas_status']);
        }
        // query params
        if (isset($criteria['is_public'])) {
            $queryParams['is_public'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_public']);
        }
        // query params
        if (isset($criteria['package_type'])) {
            $queryParams['package_type'] = $this->apiClient->getSerializer()->toQueryValue($criteria['package_type']);
        }
        // query params
        if (isset($criteria['segmented_for_lead_id'])) {
            $queryParams['segmented_for_lead_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['segmented_for_lead_id']);
        }
        // query params
        if (isset($criteria['badge_id'])) {
            $queryParams['badge_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['badge_id']);
        }
        // query params
        if (isset($criteria['digital_leads'])) {
            $queryParams['digital_leads'] = $this->apiClient->getSerializer()->toQueryValue($criteria['digital_leads']);
        }
        // query params
        if (isset($criteria['has_marketing_package'])) {
            $queryParams['has_marketing_package'] = $this->apiClient->getSerializer()->toQueryValue($criteria['has_marketing_package']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\AggregationResult',
                '/partners/aggregations'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\AggregationResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\AggregationResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBankaccountsCreate
     *
     * Subscribe a partner.
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBankaccountResource $partner_bankaccount_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBankaccountResource
     */
    public function partnersBankaccountsCreate($partner_id , $partner_bankaccount_resource)
    {
        list($response) = $this->partnersBankaccountsCreateWithHttpInfo($partner_id, $partner_bankaccount_resource);
        return $response;
    }

    /**
     * Operation partnersBankaccountsCreateWithHttpInfo
     *
     * Subscribe a partner.
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBankaccountResource $partner_bankaccount_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBankaccountResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBankaccountsCreateWithHttpInfo($partner_id , $partner_bankaccount_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/bankaccounts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_bankaccount_resource)) {
            $_tempBody = $partner_bankaccount_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBankaccountResource',
                '/partners/{partner_id}/bankaccounts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBankaccountResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBankaccountResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBankaccountsIndex
     *
     * Get partner's bank accounts.
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBankaccountResult
     */
    public function partnersBankaccountsIndex($partner_id , $criteria = [])
    {
        list($response) = $this->partnersBankaccountsIndexWithHttpInfo($partner_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBankaccountsIndexWithHttpInfo
     *
     * Get partner's bank accounts.
     *
     * @param string $partner_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBankaccountResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBankaccountsIndexWithHttpInfo($partner_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/bankaccounts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBankaccountResult',
                '/partners/{partner_id}/bankaccounts'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBankaccountResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBankaccountResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasCreate
     *
     * Create a lead allocation quota for a business unit.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\LeadAllocationQuotaResource $lead_allocation_quota_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadAllocationQuotaResource
     */
    public function partnersBusinessunitsAllocationquotasCreate($partner_id,  $partner_business_unit_id , $lead_allocation_quota_resource)
    {
        list($response) = $this->partnersBusinessunitsAllocationquotasCreateWithHttpInfo($partner_id, $partner_business_unit_id, $lead_allocation_quota_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasCreateWithHttpInfo
     *
     * Create a lead allocation quota for a business unit.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\LeadAllocationQuotaResource $lead_allocation_quota_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadAllocationQuotaResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationquotasCreateWithHttpInfo($partner_id,  $partner_business_unit_id , $lead_allocation_quota_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($lead_allocation_quota_resource)) {
            $_tempBody = $lead_allocation_quota_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\LeadAllocationQuotaResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\LeadAllocationQuotaResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\LeadAllocationQuotaResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasDelete
     *
     * Delete a lead allocation quota.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $quota_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return void
     */
    public function partnersBusinessunitsAllocationquotasDelete($partner_id,  $partner_business_unit_id,  $quota_id )
    {
        list($response) = $this->partnersBusinessunitsAllocationquotasDeleteWithHttpInfo($partner_id, $partner_business_unit_id, $quota_id);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasDeleteWithHttpInfo
     *
     * Delete a lead allocation quota.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param string $quota_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationquotasDeleteWithHttpInfo($partner_id,  $partner_business_unit_id,  $quota_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas/{quota_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // path params
        if ($quota_id !== null) {
            $resourcePath = str_replace(
                "{" . "quota_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($quota_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas/{quota_id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasIndex
     *
     * List lead allocation quotas.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'effective_at_gte' => string,
     *    'effective_at_lte' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\LeadAllocationQuotaResult
     */
    public function partnersBusinessunitsAllocationquotasIndex($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsAllocationquotasIndexWithHttpInfo($partner_id, $partner_business_unit_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsAllocationquotasIndexWithHttpInfo
     *
     * List lead allocation quotas.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'effective_at_gte' => string,
     *    'effective_at_lte' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\LeadAllocationQuotaResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsAllocationquotasIndexWithHttpInfo($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['effective_at_gte'])) {
            $queryParams['effective_at_gte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['effective_at_gte']);
        }
        // query params
        if (isset($criteria['effective_at_lte'])) {
            $queryParams['effective_at_lte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['effective_at_lte']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\LeadAllocationQuotaResult',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/allocationquotas'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\LeadAllocationQuotaResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\LeadAllocationQuotaResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsCreate
     *
     * Create partner business unit.
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBusinessUnitResource $partner_business_unit_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitResource
     */
    public function partnersBusinessunitsCreate($partner_id , $partner_business_unit_resource)
    {
        list($response) = $this->partnersBusinessunitsCreateWithHttpInfo($partner_id, $partner_business_unit_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsCreateWithHttpInfo
     *
     * Create partner business unit.
     *
     * @param string $partner_id 
     * @param \Ageras\Api\PartnerBusinessUnitResource $partner_business_unit_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsCreateWithHttpInfo($partner_id , $partner_business_unit_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_business_unit_resource)) {
            $_tempBody = $partner_business_unit_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitResource',
                '/partners/{partner_id}/businessunits'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsDelete
     *
     * Delete a partner business unit
     *
     * @param string $partner_id 
     * @param string $partner_businessunit_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return void
     */
    public function partnersBusinessunitsDelete($partner_id,  $partner_businessunit_id )
    {
        list($response) = $this->partnersBusinessunitsDeleteWithHttpInfo($partner_id, $partner_businessunit_id);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsDeleteWithHttpInfo
     *
     * Delete a partner business unit
     *
     * @param string $partner_id 
     * @param string $partner_businessunit_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsDeleteWithHttpInfo($partner_id,  $partner_businessunit_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_businessunit_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_businessunit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_businessunit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_businessunit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/partners/{partner_id}/businessunits/{partner_businessunit_id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsGet
     *
     * Get a single partner business unit.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitResource
     */
    public function partnersBusinessunitsGet($partner_id,  $partner_business_unit_id )
    {
        list($response) = $this->partnersBusinessunitsGetWithHttpInfo($partner_id, $partner_business_unit_id);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsGetWithHttpInfo
     *
     * Get a single partner business unit.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsGetWithHttpInfo($partner_id,  $partner_business_unit_id )
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsIndex
     *
     * List partner business units.
     *
     * @param $criteria = [
     *    'id' => string,
     *    'partner_id' => string,
     *    'geo_code' => string,
     *    'segmentation_criteria' => string,
     *    'segmented_for_lead_id' => int,
     *    'is_active' => bool,
     *    'sort' => string,
     *    'geo_point' => string,
     *    'geo_distance' => int,
     *    'assigned_employee_id' => string,
     *    'sector_id' => string,
     *    'industry_id' => string,
     *    'client_type_id' => string,
     *    'revenue_amount' => string,
     *    'has_marketing_package' => bool,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitResult
     */
    public function partnersBusinessunitsIndex($criteria = [])
    {
        list($response) = $this->partnersBusinessunitsIndexWithHttpInfo($criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsIndexWithHttpInfo
     *
     * List partner business units.
     *
     * @param $criteria = [
     *    'id' => string,
     *    'partner_id' => string,
     *    'geo_code' => string,
     *    'segmentation_criteria' => string,
     *    'segmented_for_lead_id' => int,
     *    'is_active' => bool,
     *    'sort' => string,
     *    'geo_point' => string,
     *    'geo_distance' => int,
     *    'assigned_employee_id' => string,
     *    'sector_id' => string,
     *    'industry_id' => string,
     *    'client_type_id' => string,
     *    'revenue_amount' => string,
     *    'has_marketing_package' => bool,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsIndexWithHttpInfo($criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/businessunits";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['id'])) {
            $queryParams['id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['id']);
        }
        // query params
        if (isset($criteria['partner_id'])) {
            $queryParams['partner_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['partner_id']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['segmentation_criteria'])) {
            $queryParams['segmentation_criteria'] = $this->apiClient->getSerializer()->toQueryValue($criteria['segmentation_criteria']);
        }
        // query params
        if (isset($criteria['segmented_for_lead_id'])) {
            $queryParams['segmented_for_lead_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['segmented_for_lead_id']);
        }
        // query params
        if (isset($criteria['is_active'])) {
            $queryParams['is_active'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_active']);
        }
        // query params
        if (isset($criteria['sort'])) {
            $queryParams['sort'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sort']);
        }
        // query params
        if (isset($criteria['geo_point'])) {
            $queryParams['geo_point'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_point']);
        }
        // query params
        if (isset($criteria['geo_distance'])) {
            $queryParams['geo_distance'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_distance']);
        }
        // query params
        if (isset($criteria['assigned_employee_id'])) {
            $queryParams['assigned_employee_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['assigned_employee_id']);
        }
        // query params
        if (isset($criteria['sector_id'])) {
            $queryParams['sector_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['sector_id']);
        }
        // query params
        if (isset($criteria['industry_id'])) {
            $queryParams['industry_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['industry_id']);
        }
        // query params
        if (isset($criteria['client_type_id'])) {
            $queryParams['client_type_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['client_type_id']);
        }
        // query params
        if (isset($criteria['revenue_amount'])) {
            $queryParams['revenue_amount'] = $this->apiClient->getSerializer()->toQueryValue($criteria['revenue_amount']);
        }
        // query params
        if (isset($criteria['has_marketing_package'])) {
            $queryParams['has_marketing_package'] = $this->apiClient->getSerializer()->toQueryValue($criteria['has_marketing_package']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitResult',
                '/partners/businessunits'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsIndustriesIndex
     *
     * List business unit industries.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'is_active' => bool,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitIndustryResult
     */
    public function partnersBusinessunitsIndustriesIndex($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsIndustriesIndexWithHttpInfo($partner_id, $partner_business_unit_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsIndustriesIndexWithHttpInfo
     *
     * List business unit industries.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'is_active' => bool,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitIndustryResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsIndustriesIndexWithHttpInfo($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/industries";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['is_active'])) {
            $queryParams['is_active'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_active']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitIndustryResult',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/industries'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitIndustryResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitIndustryResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsIndustriesUpdate
     *
     * Update business unit industries.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitIndustriesResource $partner_business_unit_industries_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitIndustriesResource
     */
    public function partnersBusinessunitsIndustriesUpdate($partner_id,  $partner_business_unit_id , $partner_business_unit_industries_resource)
    {
        list($response) = $this->partnersBusinessunitsIndustriesUpdateWithHttpInfo($partner_id, $partner_business_unit_id, $partner_business_unit_industries_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsIndustriesUpdateWithHttpInfo
     *
     * Update business unit industries.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitIndustriesResource $partner_business_unit_industries_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitIndustriesResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsIndustriesUpdateWithHttpInfo($partner_id,  $partner_business_unit_id , $partner_business_unit_industries_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/industries";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_business_unit_industries_resource)) {
            $_tempBody = $partner_business_unit_industries_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitIndustriesResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/industries'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitIndustriesResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitIndustriesResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsRevenuerangesCreate
     *
     * Create a business unit revenue range.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitRevenueRangeResource $partner_business_unit_revenue_range_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitRevenueRangeResource
     */
    public function partnersBusinessunitsRevenuerangesCreate($partner_id,  $partner_business_unit_id , $partner_business_unit_revenue_range_resource)
    {
        list($response) = $this->partnersBusinessunitsRevenuerangesCreateWithHttpInfo($partner_id, $partner_business_unit_id, $partner_business_unit_revenue_range_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsRevenuerangesCreateWithHttpInfo
     *
     * Create a business unit revenue range.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitRevenueRangeResource $partner_business_unit_revenue_range_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitRevenueRangeResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsRevenuerangesCreateWithHttpInfo($partner_id,  $partner_business_unit_id , $partner_business_unit_revenue_range_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/revenueranges";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_business_unit_revenue_range_resource)) {
            $_tempBody = $partner_business_unit_revenue_range_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitRevenueRangeResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/revenueranges'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitRevenueRangeResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitRevenueRangeResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsSectorsIndex
     *
     * List business unit sectors.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\SectorResult
     */
    public function partnersBusinessunitsSectorsIndex($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsSectorsIndexWithHttpInfo($partner_id, $partner_business_unit_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsSectorsIndexWithHttpInfo
     *
     * List business unit sectors.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\SectorResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsSectorsIndexWithHttpInfo($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/sectors";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\SectorResult',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/sectors'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\SectorResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\SectorResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsSectorsUpdate
     *
     * Update partner business unit sectors.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerSectorsResource $partner_sectors_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerSectorsResource
     */
    public function partnersBusinessunitsSectorsUpdate($partner_id,  $partner_business_unit_id , $partner_sectors_resource)
    {
        list($response) = $this->partnersBusinessunitsSectorsUpdateWithHttpInfo($partner_id, $partner_business_unit_id, $partner_sectors_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsSectorsUpdateWithHttpInfo
     *
     * Update partner business unit sectors.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerSectorsResource $partner_sectors_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerSectorsResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsSectorsUpdateWithHttpInfo($partner_id,  $partner_business_unit_id , $partner_sectors_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/sectors";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_sectors_resource)) {
            $_tempBody = $partner_sectors_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerSectorsResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/sectors'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerSectorsResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerSectorsResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsSegmentationgeoregionsIndex
     *
     * List a business unit's segmentation geo regions.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionResult
     */
    public function partnersBusinessunitsSegmentationgeoregionsIndex($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsSegmentationgeoregionsIndexWithHttpInfo($partner_id, $partner_business_unit_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsSegmentationgeoregionsIndexWithHttpInfo
     *
     * List a business unit's segmentation geo regions.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsSegmentationgeoregionsIndexWithHttpInfo($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/segmentationgeoregions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionResult',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/segmentationgeoregions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsSegmentationgeoregionsUpdate
     *
     * Replace a business unit's segmentation geo regions.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource $partner_business_unit_segmentation_geo_regions_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource
     */
    public function partnersBusinessunitsSegmentationgeoregionsUpdate($partner_id,  $partner_business_unit_id , $partner_business_unit_segmentation_geo_regions_resource)
    {
        list($response) = $this->partnersBusinessunitsSegmentationgeoregionsUpdateWithHttpInfo($partner_id, $partner_business_unit_id, $partner_business_unit_segmentation_geo_regions_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsSegmentationgeoregionsUpdateWithHttpInfo
     *
     * Replace a business unit's segmentation geo regions.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource $partner_business_unit_segmentation_geo_regions_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsSegmentationgeoregionsUpdateWithHttpInfo($partner_id,  $partner_business_unit_id , $partner_business_unit_segmentation_geo_regions_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/segmentationgeoregions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_business_unit_segmentation_geo_regions_resource)) {
            $_tempBody = $partner_business_unit_segmentation_geo_regions_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/segmentationgeoregions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitSegmentationGeoRegionsResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsTypesIndex
     *
     * List business unit types.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitTypeResult
     */
    public function partnersBusinessunitsTypesIndex($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        list($response) = $this->partnersBusinessunitsTypesIndexWithHttpInfo($partner_id, $partner_business_unit_id, $criteria);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsTypesIndexWithHttpInfo
     *
     * List business unit types.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param $criteria = [
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitTypeResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsTypesIndexWithHttpInfo($partner_id,  $partner_business_unit_id , $criteria = [])
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/types";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitTypeResult',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/types'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitTypeResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitTypeResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsTypesUpdate
     *
     * Update partner business unit types.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitTypesResource $partner_business_unit_types_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerBusinessUnitTypesResource
     */
    public function partnersBusinessunitsTypesUpdate($partner_id,  $partner_business_unit_id , $partner_business_unit_types_resource)
    {
        list($response) = $this->partnersBusinessunitsTypesUpdateWithHttpInfo($partner_id, $partner_business_unit_id, $partner_business_unit_types_resource);
        return $response;
    }

    /**
     * Operation partnersBusinessunitsTypesUpdateWithHttpInfo
     *
     * Update partner business unit types.
     *
     * @param string $partner_id 
     * @param string $partner_business_unit_id 
     * @param \Ageras\Api\PartnerBusinessUnitTypesResource $partner_business_unit_types_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerBusinessUnitTypesResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersBusinessunitsTypesUpdateWithHttpInfo($partner_id,  $partner_business_unit_id , $partner_business_unit_types_resource)
    {
        // parse inputs
        $resourcePath = "/partners/{partner_id}/businessunits/{partner_business_unit_id}/types";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_id),
                $resourcePath
            );
        }
        // path params
        if ($partner_business_unit_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_business_unit_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_business_unit_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_business_unit_types_resource)) {
            $_tempBody = $partner_business_unit_types_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerBusinessUnitTypesResource',
                '/partners/{partner_id}/businessunits/{partner_business_unit_id}/types'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerBusinessUnitTypesResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerBusinessUnitTypesResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersBusinessunitsUpdate
     *
[...]
