<?php
/**
 * PartnersignupsApi
 * PHP version 5
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Ageras.com API
 *
 * this is the Ageras API
 *
 * OpenAPI spec version: 2.0
 * Contact: cto@ageras.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Ageras\Api;

use \Ageras\Api\ApiClient;
use \Ageras\Api\ApiException;
use \Ageras\Api\Configuration;
use \Ageras\Api\ObjectSerializer;

/**
 * PartnersignupsApi Class Doc Comment
 *
 * @category Class
 * @package  Ageras\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PartnersignupsApi
{
    /**
     * API Client
     *
     * @var \Ageras\Api\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Ageras\Api\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Ageras\Api\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Ageras\Api\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Ageras\Api\ApiClient $apiClient set the API client
     *
     * @return PartnersignupsApi
     */
    public function setApiClient(\Ageras\Api\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation partnersignupsActionsCreate
     *
     * 
     *
     * @param string $partner_sign_up_id 
     * @param \Ageras\Api\PartnerSignUpActionResource $partner_sign_up_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerSignUpResource
     */
    public function partnersignupsActionsCreate($partner_sign_up_id , $partner_sign_up_action_resource)
    {
        list($response) = $this->partnersignupsActionsCreateWithHttpInfo($partner_sign_up_id, $partner_sign_up_action_resource);
        return $response;
    }

    /**
     * Operation partnersignupsActionsCreateWithHttpInfo
     *
     * 
     *
     * @param string $partner_sign_up_id 
     * @param \Ageras\Api\PartnerSignUpActionResource $partner_sign_up_action_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerSignUpResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersignupsActionsCreateWithHttpInfo($partner_sign_up_id , $partner_sign_up_action_resource)
    {
        // parse inputs
        $resourcePath = "/partnersignups/{partner_sign_up_id}/actions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($partner_sign_up_id !== null) {
            $resourcePath = str_replace(
                "{" . "partner_sign_up_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($partner_sign_up_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($partner_sign_up_action_resource)) {
            $_tempBody = $partner_sign_up_action_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerSignUpResource',
                '/partnersignups/{partner_sign_up_id}/actions'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerSignUpResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerSignUpResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersignupsCreate
     *
     * 
     *
     * @param \Ageras\Api\PartnerSignUpResource $partner_sign_up_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerSignUpResource
     */
    public function partnersignupsCreate($partner_sign_up_resource)
    {
        list($response) = $this->partnersignupsCreateWithHttpInfo($partner_sign_up_resource);
        return $response;
    }

    /**
     * Operation partnersignupsCreateWithHttpInfo
     *
     * 
     *
     * @param \Ageras\Api\PartnerSignUpResource $partner_sign_up_resource 
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerSignUpResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersignupsCreateWithHttpInfo($partner_sign_up_resource)
    {
        // parse inputs
        $resourcePath = "/partnersignups";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // body params
        $_tempBody = null;
        if (isset($partner_sign_up_resource)) {
            $_tempBody = $partner_sign_up_resource;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerSignUpResource',
                '/partnersignups'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerSignUpResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerSignUpResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation partnersignupsIndex
     *
     * 
     *
     * @param $criteria = [
     *    'is_processed' => bool,
     *    'processed_at_gte' => string,
     *    'processed_at_lte' => string,
     *    'expires_at_gte' => string,
     *    'expires_at_lte' => string,
     *    'geo_code' => string,
     *    'industry_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return \Ageras\Api\PartnerSignUpResult
     */
    public function partnersignupsIndex($criteria = [])
    {
        list($response) = $this->partnersignupsIndexWithHttpInfo($criteria);
        return $response;
    }

    /**
     * Operation partnersignupsIndexWithHttpInfo
     *
     * 
     *
     * @param $criteria = [
     *    'is_processed' => bool,
     *    'processed_at_gte' => string,
     *    'processed_at_lte' => string,
     *    'expires_at_gte' => string,
     *    'expires_at_lte' => string,
     *    'geo_code' => string,
     *    'industry_id' => string,
     *    'limit' => int,
     *    'page' => int,
     *    'query' => string,
     * ]
     * @throws \Ageras\Api\ApiException on non-2xx response
     * @return array of \Ageras\Api\PartnerSignUpResult, HTTP status code, HTTP response headers (array of strings)
     */
    public function partnersignupsIndexWithHttpInfo($criteria = [])
    {
        // parse inputs
        $resourcePath = "/partnersignups";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (isset($criteria['is_processed'])) {
            $queryParams['is_processed'] = $this->apiClient->getSerializer()->toQueryValue($criteria['is_processed']);
        }
        // query params
        if (isset($criteria['processed_at_gte'])) {
            $queryParams['processed_at_gte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['processed_at_gte']);
        }
        // query params
        if (isset($criteria['processed_at_lte'])) {
            $queryParams['processed_at_lte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['processed_at_lte']);
        }
        // query params
        if (isset($criteria['expires_at_gte'])) {
            $queryParams['expires_at_gte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['expires_at_gte']);
        }
        // query params
        if (isset($criteria['expires_at_lte'])) {
            $queryParams['expires_at_lte'] = $this->apiClient->getSerializer()->toQueryValue($criteria['expires_at_lte']);
        }
        // query params
        if (isset($criteria['geo_code'])) {
            $queryParams['geo_code'] = $this->apiClient->getSerializer()->toQueryValue($criteria['geo_code']);
        }
        // query params
        if (isset($criteria['industry_id'])) {
            $queryParams['industry_id'] = $this->apiClient->getSerializer()->toQueryValue($criteria['industry_id']);
        }
        // query params
        if (isset($criteria['limit'])) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($criteria['limit']);
        }
        // query params
        if (isset($criteria['page'])) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($criteria['page']);
        }
        // query params
        if (isset($criteria['query'])) {
            $queryParams['query'] = $this->apiClient->getSerializer()->toQueryValue($criteria['query']);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('token');
        if (strlen($apiKey) !== 0) {
            $queryParams['token'] = $apiKey;
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Ageras\Api\PartnerSignUpResult',
                '/partnersignups'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Ageras\Api\PartnerSignUpResult', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Ageras\Api\PartnerSignUpResult', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
